.About {
  white-space: pre-wrap;
}

.AboutMe {
  padding-left: 130px;
  padding-right: 110px;
  font-family: "Lora", serif;
}

#AboutMeTitle {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.AboutMeitems {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
  bottom: 300px;
}

.intro {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.AboutText {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.AboutText::first-letter {
  font-size: 24px;
  font-weight: 700;
}
