.About {
  white-space: pre-wrap;
}

.AboutMeTitle {
  font-size: 24px;
  margin-bottom: 14px;
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Lora", serif;
  font-weight: 700;
}

.AboutMeitems {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-left: 130px;
  position: relative;
  bottom: 230px;
}

.intro {
  font-family: "Lora", serif;
  /* font-family: "Libre Baskerville", serif; */
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.About {
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}
