* {
  margin: 0;
  padding: 0;
}

#header {
  height: 88px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  /*padding-bottom: 24px;*/
  align-items: center;
}

.button {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 400;
  width: 170px;
  height: 80px;
  text-align: center;
  line-height: 70px;
  border-radius: 3px;
}

.button:hover {
  background-color: gray;
  color: white;
}

#Logo {
  font-family: "Libre Baskerville", serif;
  /* font-family: "Lora", serif; */
  font-size: 30px;
  font-weight: 700;
}
